#btn.btn {
  background: var(--color-blue);
  border-radius: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: var(--color-white);
  border: none;
  padding: 12px;
  width: 100%;
}
