:root {
  // color
  --color-blue: #3369f3;
  --color-white: #fff;
  --color-white-100: #fbfbfb;
  --color-white-200: #eaeaea;
  --color-white-300: #efefef;
  --color-white-400: #f8f8f8;
  --color-white-500: #e4edfd;
  --color-gray: #999;
  --color-black: #1e1e1e;
  --color-red: #ff0000;
}
