---
title: Изменения пароля
---


{{!< default}}
{{> back/back }}
  <main class="user">
    <header class="header">
      <div class="avatar"><img alt="Автар пользователя" height="40px" width="40px" src="../assets/default-avatar.svg" /></div>
    </header>
    <form class="setting">
      <label class="setting__wrap">
        <span class="setting__name">Старый пароль</span>
        <input class="setting__value" value="12345678" type="password">
      </label>
      <label class="setting__wrap">
        <span class="setting__name">Новый пароль</span>
        <input class="setting__value" value="123456789876" type="password">
      </label>
      <label class="setting__wrap">
        <span class="setting__name">Повторите новы пароль</span>
        <input class="setting__value" value="123456789876" type="password">
      </label>
      <button class="setting__btn">Сохранить</button>
    </form>
  </main>
