---
title: Страница профиля пользователя
---

{{!< default}}
  {{> back/back }}
  <main class="user">
    <header class="header">
      <div class="avatar"><img alt="Иватарка юзера" height="40px" width="40px" src="../assets/default-avatar.svg" /></div>
      <h1 class="header__title">Иван</h1>
    </header>
    <article class="setting">
      {{#each @root.user.data}}
      <label class="setting__wrap">
        <span class="setting__name">{{this.title}}</span>
        <input name={{this.name}} readonly class="setting__value" value={{this.value}} type="{{this.type}}">
      </label>
      {{/each}}
    </article>
    <article class="change">
      <a class="change__link" href="./change-user.hbs">Извенить данные</a>
      <a class="change__link" href="./change-password.hbs">Изменить пароль</a>
      <a class="change__link change__link--red" href="./login.hbs">Выйти</a>
    </article>
  </main>
